[submodule "Fast_Sentence_Embeddings"]
	path = Fast_Sentence_Embeddings
	url = git@github.com:oborchers/Fast_Sentence_Embeddings.git
[submodule "jqm_cvi"]
	path = jqm_cvi
	url = https://github.com/jqmviegas/jqm_cvi.git
